body {
    font-family: "Helvetica", "Verdana", sans-serif;
    background: #161616;
    color: #C8CCD0;
}

h1 {
    margin: 4px;
}

p.center {
    text-align: center;
}

p.right {
    text-align: right;
}

.odd {
    background: #7F0000;
}

.even {
    background: #730000;
}