
.leaderboard-table-header {
    display: grid;
    grid-template-columns: 30px auto 72px 62px;
    grid-template-rows: auto;
    grid-template-areas:
            "number name games points";
    border: 1px none #C8CCD0;
    border-bottom-style: solid;
}

.leaderboard-table-header p {
    font-weight: bold;
    font-size: 1.05em;
    margin: 3px 0;
}

.leaderboard-item {
    display: grid;
    grid-template-columns: 26px auto 72px 62px;
    grid-template-rows: auto;
    grid-template-areas:
            "number name games points";
    align-items: center;
    font-size: 1.00em;
}

.leaderboard-item p {
    margin: 5px 0;
}

.leaderboard-item .leaderboard-number {
    grid-area: number;
}

.leaderboard-item .leaderboard-bot-name {
    grid-area: name;
}

.leaderboard-item .leaderboard-games {
    grid-area: games;
    justify-content: center;
    display:flex;
}

.leaderboard-game-indicator {
    padding-right: 2px;
}

.leaderboard-item .leaderboard-points {
    grid-area: points;
    text-align: center;
}
