body {
    font-family: "Helvetica", "Verdana", sans-serif;
    color: #C8CCD0;
}

h1 {
    margin: 4px;
}

p.center {
    text-align: center;
}

p.right {
    text-align: right;
}

#matches-container {
    width: 1150px;
    padding: 8px;
    background: #161616;
}

#matches-table {

}

.match-item {
    float: left;
    margin: 16px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    grid-template-areas:
            "bot1 bot4"
            "bot2 bot5"
            "bot3 bot6";
    align-items: center;
    width: 340px;
    height: 118px;
    background-image: url('images/match middle.png'), url('images/match edge.png');
    background-size: contain, 100% 100%;
    background-repeat: no-repeat, repeat;
    background-position: 50%;
    position: relative;
}

.blue-win {
    background-image: url('images/match middle blue win.png'), url('images/match edge blue win.png');
}

.blue-close {
    background-image: url('images/match middle blue close.png'), url('images/match edge blue close.png');
}

.orange-win {
    background-image: url('images/match middle orange win.png'), url('images/match edge orange win.png');
}

.orange-close {
    background-image: url('images/match middle orange close.png'), url('images/match edge orange close.png');
}

.match-score {
    text-align: center;
    margin: 0;
    font-weight: bold;
}

.blue-score {
    position: absolute;
    top: 10px;
    width: 100%;
}

.orange-score {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.match-bot-name {
    margin: 0 14px;
}

.match-blue-name {

}

.match-orange-name {
    text-align: right;
}

.bot1 {
    grid-area: bot1;
}

.bot2 {
    grid-area: bot2;
}

.bot3 {
    grid-area: bot3;
}

.bot4 {
    grid-area: bot4;
}

.bot5 {
    grid-area: bot5;
}

.bot6 {
    grid-area: bot6;
}

.surrogate {
    color: #1a1a1c;
}