body {
    font-family: "Helvetica", "Verdana", sans-serif;
    color: #C8CCD0;
}

h1 {
    margin: 4px;
}

p.center {
    text-align: center;
}

p.right {
    text-align: right;
}

#matches-container {
    width: 1150px;
    padding: 8px;
    background: #161616;
}

#matches-table {

}

.match-item {
    margin: 2px;
    display: grid;
    grid-template-columns: 10px fit-content(100%) fit-content(100%) fit-content(100%) auto fit-content(100%) fit-content(100%) fit-content(100%) 10px;
    grid-template-rows: auto;
    grid-template-areas:
            ". bot1 bot2 bot3 . bot4 bot5 bot6 .";
    align-items: center;
    width: 980px;
    height: 36px;
    background-color: #7F0000;
    background-image: url('images/match middle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50%;
    position: relative;
}

.blue-win {
    background-image: url('images/match middle blue win.png');
}

.blue-close {
    background-image: url('images/match middle blue close.png');
}

.orange-win {
    background-image: url('images/match middle orange win.png');
}

.orange-close {
    background-image: url('images/match middle orange close.png');
}

.match-score {
    position: absolute;
    text-align: center;
    margin: 0;
    font-weight: bold;
    width: 100%;
    top: 10px;
}

.blue-score {
    right: 30px;
}

.orange-score {
    right: -30px;
}

.match-bot-name {
    margin: 0 4px;
}

.match-blue-name {
}

.match-orange-name {
    text-align: right;
}

.bot1 {
    grid-area: bot1;
}

.bot2 {
    grid-area: bot2;
}

.bot3 {
    grid-area: bot3;
}

.bot4 {
    grid-area: bot4;
}

.bot5 {
    grid-area: bot5;
}

.bot6 {
    grid-area: bot6;
}

.surrogate {
    color: #1a1a1c;
}