#body-container {
    margin-top: 0;
    display: grid;
    grid-template-columns: auto 410px 80px auto auto;
    grid-template-rows: auto;
    grid-template-areas:
            ". ranks . matches .";
    justify-content: center;
}

#ranks-container {
    grid-area: ranks;
    background: #7F0000;
    padding: 8px;
}

#ranks-table {
}

#matches-container {
    grid-area: matches;
    padding: 8px;
    background: #161616;
}

#matches-table {
}
