body {
    font-family: "Helvetica", "Verdana", sans-serif;
    background: black;
}

h1 {
    margin: 4px;
}

p.center {
    text-align: center;
}

.odd {
    background: #ffffff;
}

.even {
    background: #f2f2f2;
}

#body-container {
    margin-top: 100px;
    display: grid;
    grid-template-columns: auto 400px 100px auto auto;
    grid-template-rows: auto;
    grid-template-areas:
            ". ranks . matches .";
    justify-content: center;
}

#ranks-container {
    grid-area: ranks;
    background: white;
    padding: 8px;
}

#ranks-table {
}

.rank-table-header {
    display: grid;
    grid-template-columns: 54px auto 40px 50px 60px;
    grid-template-rows: auto;
    grid-template-areas:
            "number name mmr wins tickets";
    border: 1px none #bbbbbb;
    border-bottom-style: solid;
}

.rank-table-header p {
    font-weight: bold;
    font-size: 0.8em;
    margin: 3px 0;
}

.rank-item {
    display: grid;
    grid-template-columns: 32px 22px auto 40px 50px 60px;
    grid-template-rows: auto;
    grid-template-areas:
            "number movement name mmr wins tickets";
    align-items: center;
}

.rank-item p {
    margin: 3px 0;
}

.rank-item .rank-number {
    grid-area: number;
}

.rank-item .rank-movement {
    grid-area: movement;
}

.rank-item .rank-bot-name {
    grid-area: name;
}

.rank-item .rank-wins {
    grid-area: wins;
    justify-content:center;
    display:flex;
}

.rank-win-indicator {
    padding-right: 2px;
}

.rank-item .rank-mmr {
    grid-area: mmr;
}

.rank-item .rank-tickets {
    grid-area: tickets;
    margin-left: 10px;
    background: #888888;
    min-height: 10px;
}

#matches-container {
    grid-area: matches;
    padding: 8px;
    background: #ffffff;
}

#matches-table {

}

.match-item {
    display: grid;
    grid-template-columns: 390px 16px 60px 16px 390px;
    grid-template-rows: auto;
    grid-template-areas:
            "blue-names blue-crown mid orange-crown orange-names";
    align-items: center;
}

.match-name .blue {
    grid-area: blue-names;
}

.match-name .orange {
    grid-area: orange-names;
}

.crown {
    margin-top: 4px;
}

.crown .blue {
    grid-area: blue-crown;
}

.crown .orange {
    grid-area: orange-crown;
}

.hide {
    display: none;
}
